/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Figtree:wght@300&display=swap');

/* Asterix wilcard selector to override browser default styles*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

/* General Styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic styles */
    color: #ffffff;
    font-family: 'comfortaa', sans-serif;
}

/* Header */
header {
    background-color: palegreen;
}

h1 {
    font-family: 'figtree', sans-serif;
}

/* Main Content */
main {
    background-color: purple;
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: lightpink;
}

