/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Figtree:wght@300&display=swap');

/* Asterix wilcard selector to override browser default styles*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

/* General Styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic styles */
    color: #ffffff;
    font-family: 'comfortaa', sans-serif;
}

/* Header */
header {
    background-color: palegreen;
    padding: 0 2rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0px 5px 2px #f6e9f6;
}

h1 {
    font-family: 'figtree', sans-serif;
    letter-spacing: 3px;
}

header a {
    text-decoration: none;
    color: #cf91f4;
}

#menu {
    font-size: 120%;
    letter-spacing: 3px;    
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 3px solid #ffffff; 
}

/* Main Content */
main {
    background-color: rgb(182, 107, 223);
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: lightpink;
}

